.container{
    padding-left: 0;
    padding-right: 0;
}

header{
    background-color: bisque;
}

.logo_principal{
    max-width: 12rem;
}

.menu-list-components{
    display: flex;;
}

.menu-list-components, ol{
    padding-right: 15px;
}

.btn-components{
    margin-right: 5px;
}

/* home */
.home{
    background-color: orange;
}

.insect-cards-img {
    max-width: 15rem;
    width: 90%;
    height: 75%;
    max-height: 155px;
}

.insect-cards-area{
    background-color: rgb(182, 87, 87);
}


/* FOOTER */
.footer{
    background-color: blueviolet;
}
.logo_container{
    max-width: 10rem;
}

.footer_logo{
    width: 100%;
}