:root {
    --primary-color: rgb(128, 128, 128);
    --secondary-color: rgb(255, 204, 0);
    --beige: rgb(245, 245, 220)
}

.container {
    padding-left: 0;
    padding-right: 0;
}

header {
    background-color: var(--primary-color);
}

.certification{
    width: 150px;
}

.main_title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 500px) {
    header {
        flex-direction: column;
    }
}

.logo_principal {
    max-width: 12rem;
}

.menu-list-components {
    display: flex;
}

.menu-list-components,
ol {
    padding-right: 15px;
}

.btn-components {
    margin-right: 5px;
}

/* home */
.home {
    background-color: var(--beige);
}

.insect-cards-img {
    max-width: 15rem;
    width: 90%;
    height: 75%;
    max-height: 155px;
}

.insect-cards-area {
    background-color: var(--beige);
}

.contact_container {
    background-color: var(--secondary-color);
}

/* partners */
.partner_container {
    background-color: var(--beige);
}

.Partners_logo {
    width: 100%;
}

/* FOOTER */
.footer {
    background-color: var(--primary-color);
}

.logo_container {
    max-width: 10rem;
}

.footer_logo {
    width: 100%;
}