.container{
    padding-left: 0;
    padding-right: 0;
}

header{
    background-color: bisque;
}

.logo_principal{
    max-width: 12rem;
}

.menu-list-components{
    display: flex;;
}

.menu-list-components, ol{
    padding-right: 15px;
}

.home{
    background-color: orange;
}

/* cards */
.insect-cards-img {
    width: 100%;
    height: auto;
    max-height: 155px;
}

.insect-cards-area{
    background-color: rgb(182, 87, 87);
}